body {
	background-color: #f8f9fa;
	/*background-image: url("https://cdn.pixabay.com/photo/2018/10/12/11/34/aerial-3741969_960_720.jpg");*/
  /*height: 700px;  You must set a specified height*/
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;

}

.welcome-title {
	font-size: 35px;
	color: black;
	transform: translate(1%, 0%);

}

.quadrant-container {
	display: flex;
	flex-direction: column;
	/*border-radius: 20px;*/
	/*background-color: #e7bfb4;*/

}

.quadrant-duo {
	width: 100%;
	height: 18em;
	display: flex;
	/*background-color: black;*/
	/*border-radius: 20px;*/
}

.quadrants {
	width: 50%;
	overflow: auto;
	color: black;
	background-color: #d3cacb;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 8px 2px #888888;
}

.quadrant-head-container {
	border-bottom: 2px solid lightgrey;
	opacity: 0.9;
	display: flex;
	justify-content: space-between;
	margin: 10px 0 10px 0;
	font-size: 20px;
}

.quadrant-header {
	margin-left: 30px;
	font-weight: 600;
	color: #1e1e1e;
}

.big-list {
	/*background-color: green;*/
	text-align: left;
	list-style: none;
}

input[type=checkbox] {
	transform: scale(1.1);
	margin: 10px;
	cursor: pointer;
}

input[type="checkbox"]:checked {
   background-color: black;
}

.addNewTaskButton {
	background-color: transparent;
  /*border-radius: 200px;*/
  border: none;
  color: white;
	font-weight: 600;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: -13px;
  margin-bottom: -5px;
  padding: 5px 0;
}

li {
	margin: 5px 0;
}

.todos {
	background-color: white;
	background: rgba(255,255,255,0.9);
	border-radius: 5px;
	padding: 5px 10px;
	color: black;
	text-decoration: none;
}

.todos:hover {
	text-decoration: none;
	color: black;
}

.todos-completed {
	background-color: white;
	background: rgba(255,255,255,0.9);
	border-radius: 5px;
	padding: 5px 10px;
	color: grey;
	text-decoration: line-through;
}
.todos-completed:hover {
	text-decoration: line-through;
	color: grey;
}

.view-container {
	transform: translate(1%, 0%);
}

.toggleViewButton {
	background-color: #d3cacb;
  border-radius: 5px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.toggleViewButton-focus {
	background-color: #56c3e1;
  border-radius: 5px;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
}

.toggleViewButton:hover {
	background-color: #d5d3d3;
}

.newTitle {
	font-size: 15px;
	display:block;
	border-radius: 10px;
}
.newDesc {
	font-size: 15px;
	border-radius: 10px;
}
.newButton {
	font-size: 15px;
	border-radius: 10px;
}
.logoutButton {
  border: none;
  background-color: #f8f9fa;
  color: #7c7c7d;
  padding: 12px 9px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

*:focus {
  outline: none;
}


@media only screen and (max-width: 576px) {
  body {
    background-color: green;
  }

  .quadrant-container {
		display: flex;
		flex-direction: column;
	}

	.quadrant-duo {
		width: 100%;
		height: 18em;
		display: flex;
		flex-direction: column;

		/*background-color: black;*/
		/*border-radius: 20px;*/
	}

  .quadrants {
		width: 100%;
		overflow: auto;
		color: black;
		background-color: #d3cacb;
		margin: 10px;
		border-radius: 5px;
		box-shadow: 1px 1px 8px 2px #888888;
	}


}